@model Flowmaker.ViewModels.Views.EditorVm;
<sl-drawer label="@Model.Project.Title" class="drawer-overview">
    <sl-button slot="footer" type="primary">Close</sl-button>
    <ul>
        @foreach (var flow in Model.Flows)
        {
            <li>@flow.Title</li>
        }
    </ul>
    <vc:login/>
</sl-drawer>
<sl-button id="open">Open Drawer</sl-button>
<script>
    (() => {
        const drawer = document.querySelector('.drawer-overview');
        const openButton = drawer.nextElementSibling;
        const closeButton = drawer.querySelector('sl-button[type="primary"]');
        openButton.addEventListener('click', () => drawer.show());
        closeButton.addEventListener('click', () => drawer.hide());
    })();
</script>