@model Flowmaker.ViewModels.Views.EditorVm;
<sl-drawer label="@Model.Environment.ProductTitle" class="drawer-overview">
    @Model.Environment.Title
    <sl-button slot="footer" type="primary">Close</sl-button>
</sl-drawer>
<sl-button id="open">Open Drawer</sl-button>
<div>
    Total flows @Model.Flows.Count()
</div>
<script>
    (() => {
        const drawer = document.querySelector('.drawer-overview');
        const openButton = drawer.nextElementSibling;
        const closeButton = drawer.querySelector('sl-button[type="primary"]');
        openButton.addEventListener('click', () => drawer.show());
        closeButton.addEventListener('click', () => drawer.hide());
    })();
</script>