@model Flowmaker.ViewModels.Views.EditorVm;
<div class="drawer">
    <div class="drawer__header">
        <p class="text--title">Drawer</p>
    </div>
    <div class="drawer__content">
        <p class="text--normal">This  is a content</p>
    </div>
</div>
<div id="open">Open Drawer</div>
<style>
    .drawer {
        font-size: 2rem;
        background-color: aquamarine;
        border: dashed;
        float: right;
        height: 80vh;
        width: 40rem;
    }

    .drawer__header {
        background-color: gray;
    }

    .text--title {
        text-align: center;
        font-weight: bold;
    }

    .text--normal {
        font-weight: normal;
        font-size: 1rem;
    }

    .drawer__content {
        background-color: blue;
    }
</style>
<script>

</script>