@model Flowmaker.ViewModels.ViewModelObject;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Environment.WorkspaceTitle</title>
    <link rel="stylesheet" href="~/css/stylesheet.css" />
</head>
<body>
    <div id="fmContainer">
        @if (!Model.Environment.IsAvailable)
        {
            <vc:lonely />
            IgnoreBody();
        }
        else if (Model.Environment.IsEditable)
        {
            <vc:editor />
            <div id="fmBody">
                @RenderBody()
            </div>
        }
        else
        {
            <div id="fmBody">
                @RenderBody()
            </div>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

