@model flowmaker.components.ViewModels.Homepage;
<div class="drawer">
    @if (Model.Environment.IsAvailable)
    {
        <h2>@Model.Environment.Title</h2>
    }
    @if (Model.Environment.IsEditable)
    {
        <div class="drawer-panel">
            <vc:login />
        </div>
    }
</div>