@model flowmaker.web.ViewModels.HomepageViewModel;
@{
    ViewData["Title"] = Model.ProductTitle;
}
@if (Model.IsAvailable)
{
    <h2 class="details-group-example">@Model.Title</h2>
}
else
{
    <h2>It is lonely here, lets make this site an incredible site today!</h2>
}

